body {
    margin: 0;
    background: #00a5be;
    font-family: 'New Tegomin', serif;
}

.logo {
    grid-area: logo;
    margin: 0 auto 2em;
    display: block;
}

.grid {
    position: relative;
    z-index: 2;
    display: grid;
    height: calc(100vh - 8em);
    padding: 4em;
    grid-template-columns: 50px 1fr 1fr 200px;
    grid-template-rows: 230px 100fr 1fr 1fr 1fr;
    grid-column-gap: 8em;
    grid-template-areas: "asset-top logo logo social" "name character-name avatar avatar" "about character-description avatar avatar" "asset-bottom character-text avatar avatar" "asset-bottom learn-more arrow other-line";
}

.character-image-container {
    grid-area: avatar;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {
    text-decoration: none;
}

.arrow {
    user-select: none;
    grid-area: arrow;
    cursor: pointer;
    background-image: url('../images/down-arrow.svg');
    background-repeat:no-repeat;
    background-position: left bottom;
}

.learn-more {
    grid-area: learn-more;
    display: flex;
    align-items: flex-end;
    font-size: 25px;
    text-transform: uppercase;
    background-image: url('../images/learnMore.svg');
    background-repeat: no-repeat;
    background-position: left 170px bottom 8px;
    background-size: 8.3em;;
}

.asset.top {
    grid-area: asset-top;
}
.asset {
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
}

.asset.bottom {
    grid-area: asset-bottom;
    justify-content: flex-end;
}

.navigation {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation.name {
    grid-area: name;
}

.navigation.about {
    grid-area: about;
}

.navigation a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-transform: uppercase;
}

.social {
    grid-area: social;
}

.character-name-container {
    grid-area: character-name;
    display: flex;
    align-items: center;
    padding-inline-start: 1rem;
}

.character-description-container {
    grid-area: character-description;
}

.navigation .text {
    display: inline-flex;
    margin-inline: 35px;
}

.dot {
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    display: inline-flex;
    margin-inline: 5px;
}

.links {
    writing-mode: vertical-rl;
}

.line {
    width: 2px;
    height: 150px;
    background: black;
    display: inline-flex;
    margin-inline: 15px;
}

.wrapper {
    max-width: 1280px;
    margin: auto;
    padding: 0 2em;
}

.character {
    text-align: center;
}

.character-image {
    max-width: 100%;
    border-radius: 50%;
}

.character-label {
    background: #685128;
    padding: 1em;
    color: white;
    border-radius: 10px;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
}

.character-name {
    font-size: 30px;
}

.character-name-placeholder {
    color: rgb(0, 0, 0, 0.1);
    font-size: 300px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
    white-space: nowrap;
}

@media screen and (max-width: 1440px) {
    .grid {
        column-gap: 2em;
    }
}

@media screen and (max-width: 1024px) {
   
    .grid {
        height: auto;
        padding: 2em 0;
        width: calc(100vw - 2em);
        margin: 0 auto;
        column-gap: 1em;
        grid-template-columns: 50px 1fr 1fr;
        grid-template-rows: repeat(6, auto);
        grid-template-areas: "logo logo logo " "name avatar avatar" "name character-name character-name" "about character-description character-description" "arrow arrow arrow" "social social social";
    }

    .logo {
        max-width: 100%;
    }

    .character-name {
        text-align: center;
    }

    .character-name-container {
        justify-content: center;
        margin-top: 1em;
    }

    .social {
        text-align: center;
        margin-top: 2em;
    }

    .asset{
        display: none;
    }

    .arrow {
        height: 50px;
        background-position: center;
    }

    .learn-more {
        display: none;
        padding-inline-start: 1em;
    }

    .social a {
        margin-left: 2em;
    }

    .social a:first-child {
        margin-left: 0;
    }

    
}

.linkedin {
    height: 50px;
    width: 50px;
}

.github {
    height: 50px;
    width: 50px;
}